/*
 * Copyright (C) 2015  Nicola Spanti (also known as RyDroid) <dev@nicola-spanti.info>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */


@charset "UTF-8";

@import url("classes.css");


*
{
	max-height: 100%;
	max-width:  100%;
	box-shadow: none;
}

body
{
	height: 100%;
	width:  100%;
	
	margin: 0 auto;
	text-align: center;
}

body, canvas
{
	margin:  0;
	padding: 0;
}

body > noscript
{
	display: inline-block;
}

section
{
	padding: 15px;
	z-index: 10;
	font-size: x-large;
}

@media (max-width: 400px)
{
	section
	{
		padding: 5px;
	}
	
	@media (max-width: 350px)
	{
		section
		{
			padding: 4px;
		}
		
		@media (max-width: 280px)
		{
			section
			{
				padding: 2px;
			}
		}
	}
}

section h1
{
	font-size: xx-large;
	font-weight: bolder;
}

section button
{
	margin:  15px;
	padding: 10px;
	box-shadow: none;
}

@media (max-width: 400px)
{
	section button
	{
		margin: 10px;
	}
	
	@media (max-width: 350px)
	{
		section button
		{
			margin:  7px;
			padding: 7px;
		}
		
		@media (max-width: 280px)
		{
			section button
			{
				margin:  4px;
				padding: 4px;
			}
		}
	}
}

body > *, audio
{
	display: none;
}
